[submodule "lib/DeviceService.Client.Core"]
	path = lib/DeviceService.Client.Core
	url = https://github.com/Redbox-Automated-Retail/DeviceService.Client.Core
[submodule "lib/DeviceService.ComponentModel"]
	path = lib/DeviceService.ComponentModel
	url = https://github.com/Redbox-Automated-Retail/DeviceService.ComponentModel
[submodule "lib/RBA_SDK_ComponentModel"]
	path = lib/RBA_SDK_ComponentModel
	url = https://github.com/Redbox-Automated-Retail/RBA_SDK_ComponentModel
